/* COLORS
Pink --> rgb(242,128,142)
Light teal --> rgb(130,196,157)
Grey --> rgb(219,217,197)
Darker grey --> rgb(83, 82, 76)
*/
* {
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
header img {
	display: block;
	width: 50%;
	margin: 0 auto;

}
h1 {
	font-size: 25px;
}
nav ul a li {
	display: inline-block;
	padding: 2%;
	margin: 0 2%;
	width: 10%;
	text-align: center;
	border: 2px solid white;
	border-radius: 50%;
	color: rgb(219,217,197);

}
nav ul a li:hover{
	border: 2px solid rgb(242,128,142);
	border-radius: 50%;
	color: rgb(83, 82, 76);
}

nav ul li a {
	color: rgb(219,217,197);
	font-size: 1.1em;
}
.divline {
	margin: 2% auto;
	width: 100%;
	border-bottom: 2px solid rgb(130,196,157);
	clear: left;
}
.social {
	width: 50%;
	margin: 0 auto;
}
.social img {
	width: 15%;
	margin: 4.5%;
}
.twitbox {
	width: 60%;
	margin: 0 auto;
}
.yellowstone {
	width: 100%;
}
section, article img, .printMe {
	width: 80%;
	margin: 0 10%;
}
.printMe {
	padding: 2% 0;
	font-size: 1.5em;
	color: black;
	margin-top: 2%;
}
.recipetype {
	background: rgb(242,128,142);
	height: 40px;
	color: white;
	font-size: 1.75em;
	text-align: center;
	margin-bottom: 2%;
	margin-top: 2%;
	float: left;
	width: 100%;
}
.recipethumb {
	width: 28%;
	float: left;
	padding: 2%;
	margin: 2% auto;
}
@media only screen and (max-width: 768px) {

header img {
	margin-bottom: 5%
}
.hamburger {
  cursor: pointer;
  padding-bottom: 15px;
  top: 10px;
  right: 10px;
  position: fixed;
}

.line {
	border-bottom: 4px solid rgb(130,196,157);
	width: 35px;
	margin-bottom: 6px;
}
.line:last-child {
	margin-bottom: 0;
}
.menu a li {
  width: 100%;
  float: right;
  border-radius: 0;
  height: 50px;
  padding: 10% 0;
  text-align: center;
  margin: 10% 10% 10% 10%;
  background: white;
}
 .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
    width: 15%;
    position: absolute;
    top: 30px; right:0;
    background: white;
  }
.open {
  height: 470px;
  }

  @media print {
  img {
    display: none !important;
  }

  * {
    background-image: none !important;
  }
}
